# ===========================
# Frontend Environment (.env.local)
# ===========================
VITE_API_BASE_URL=http://localhost:9000
VITE_IMGBB_API_KEY=your_imgbb_api_key_here


# ===========================
# Backend Environment (.env)
# ===========================
PORT=5000
DB_USER=your_mongo_username_here
DB_PASS=your_mongo_password_here
ACCESS_TOKEN_SECRET=your_jwt_secret_here